body {
    font-family: Arial, sans-serif;
    background: rgb(226, 141, 11);
    background: radial-gradient(circle, rgba(226, 141, 11, 0.29) 0%, rgba(195, 193, 193, 0.565) 100%);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

  
  .container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Ajuste para subir el contenedor */
  }
  
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    width: -1.0em;
    color: #FFD700;
    transition: color 0.3s;
    cursor: pointer;
    padding: 50px;
  }
  
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #FFD700;
    transition: color 0.3s;
  }
  
  .rating > span:before {
    content: "\2606";
    position: absolute;
  }
  
  .rating > span[data-value="5"]:before { z-index: 1; }
  .rating > span[data-value="4"]:before { z-index: 2; }
  .rating > span[data-value="3"]:before { z-index: 3; }
  .rating > span[data-value="2"]:before { z-index: 4; }
  .rating > span[data-value="1"]:before { z-index: 5; }
  
.button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e28d0b;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

button[type="submit"]:hover {
    background-color: #c57b0b;
}

.buttonv[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e28d0b;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
    
    transition: background-color 0.3s;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
    
.buttonv[type="submit"]:hover {
        background-color: #c57b0b;
}