/* Estilos generales del cuerpo del documento */
body {
    font-family: "Arial", arial, helvetica;
    background: radial-gradient(circle, rgba(226,141,11,0.29175420168067223) 0%, rgba(195, 193, 193, 0.565) 100%);
}

/* Estilos para el encabezado */
header {
    width: 90%;
    margin: 0 auto;
    height: 350px;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    display: flex;
    flex-direction: column;
}

/* Estilos para el contenedor de imágenes en el encabezado */
.container-img {
    width: 100%;
    height: 250px;
    border: none;
}

.container-img img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

/* Estilos para los enlaces en el encabezado */
.enlaces {
    width: 100%;
    height: 70px;
    background-color: #e28d0b;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    border-top: 10px solid #000000;
}

.enlaces ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: clamp(12px, 4vw, 25px);
}

a {
    text-decoration: none;
    color: #f7f7f7;
    display: flex;
    justify-content: space-around;
}

.enlaces .listas {
    
    color: white;
    padding: 10px;
    width: 18%;
}

.promociones {
    color: white;
    padding: 10px;
}

main {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

/* Estilos para el primer contenedor */
.container {
    width: 50%;
    
}

/* Estilos para el formulario de registro */
.registro {
    background-color: #b4b4b4ac;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    height: 550px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

.registro h1 {
    text-align: center;
    font-size: clamp(12px, 4vw, 25px);
    height: 50px;
    margin: 0;
    background-color: #212121;
    color: #e28d0b;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para los campos del formulario */
.campo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-bottom: 40px;
}

.campo label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
    padding: 6px;
    border: 2px solid #727572;
    border-radius: 10px;
    outline: none;
}

/* Estilos para el botón del formulario */
form button {
    width: 30%;
    padding: 6px;
    border: 2px solid #242424;
    background-color: #e28d0b;
    color: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #c57b0b;
}

/* Estilos para la sección de transacciones */
.transacciones {
    height: 540px;
    text-align: center;
    font-size: clamp(12px, 4vw, 22px);
    background-color: #242424;
}

.transacciones ul {
    padding: 0;
    list-style: none;
}

.transacciones a {
    color: #bebbbb;
    padding: 6px;
    position: relative;
}

.transacciones .titulo {
    background-color: #121212;
    color: #e28d0b;
    padding: 15px;
    font-style: italic;
}

/* Estilos para el segundo contenedor */
.container2 {
    width: 68%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 0;
}

/* Estilos para los divs dentro del segundo contenedor */
.container2 div {
    background: #b4b4b4ac;
    width: 48%;
    height: 48%;
    margin: 0;
}

/* Estilos para los títulos dentro de los divs del segundo contenedor */
.div1 h3,
.div3 h3,
.div2 h3,
.div4 h3 {
    background: #212121;
    border-radius: 10px 0 0 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e28d0b;
    margin: 0;
}

/* Estilos adicionales para títulos específicos */
.div2 h3,
.div4 h3 {
    border-radius: 0 10px 0 0;
}

/* Estilos para las imágenes dentro del segundo contenedor */
.container2 img {
    margin-top: 20px;
    width: 250px;
    max-height: 200px;
}

.container2 p {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

/* Estilos para el pie de página */
footer {
    width: 90%;
    margin: 0 auto;
    color: #bebbbb;
    height: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background-color: #212121;
}
