
body {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    background: rgb(226, 141, 11);
    background: radial-gradient(circle, rgba(226, 141, 11, 0.29175420168067223) 0%, rgba(195, 193, 193, 0.565) 100%);
}


header {
    width: 90%;
    margin: 0 auto;
    height: 350px;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    border: none;
    display: flex;
    flex-direction: column;
}


.container-img {
    width: 100%;
    height: 250px;
    border: none;
}
.container-img img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}


.enlaces {
    width: 100%;
    height: 60px;
    background-color: #e28d0b;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
}
.enlaces ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: clamp(12px, 4vw, 25px);
}
.enlaces .btn {
    border-right: 0;
    color: white;
    padding: 10px;
    width: 18%;
}
.btn {
    color: white;
    padding: 10px;
}


section {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}


.container-articulo {
    width: 50%;
    height: 800px;
    display: grid;
    gap: 30px;
}


.articulos img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    margin: 10px;
    width: 180px;
    height: 180px;
    border: 3px solid #e28d0b;
    border-radius: 20px;
}


.articulos {
    padding: 10px;
    background-color: #b4b4b4ac;
    border-radius: 10px;
    font-size: clamp(12px, 4vw, 18px);
}

.articulos h2 {
    text-align: center;
}

.articulos p {
    text-align: justify;
}


.articulos a {
    text-decoration: none;
    color: #1c4a48;
    
}

.container {
    position: relative;
    width: 48%;
    height: auto;
    background-color: #b4b4b4ac;
    height: 150%;
    text-align: justify;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

.container h1 {
    width: 100%;
    text-align: justify;
    padding: 1%;
    height: 60px;
    margin: 0;
    background-color: #212121;
    color: #e28d0b;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.container-form {
    text-align: justify;
    width: 80%;
    margin: 50px auto;
    color: black;
}

.container-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #a8a7ac;
    border-radius: 15px;
    margin-top: 10px;
}

.buttom [type="submit"] {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #242424;
    margin: 20px auto;
    display: block;
    background-color: #e28d0b;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.campo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px auto;
    flex-direction: column;
    text-align: justify;
}



footer {
    width: 90%;
    margin: 0 auto;
    color: #bebbbb;
    height: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background-color: #212121;
}
