body {
    font-family: Arial, sans-serif;
    background: rgb(226,141,11);
    background: radial-gradient(circle, rgba(226,141,11,0.29175420168067223) 0%, rgba(195, 193, 193, 0.565) 100%);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="rol"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e28d0b;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

button[type="submit"]:hover {
    background-color: #c57b0b;
}
.volver-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.volver-container button {
    background-color: #e28d0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative; 
    top: -80px;
    border: solid 2.5px #000000
    
}

.volver-container button:hover {
    background-color: #c57b0b;
}